
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .img-preview-section-container {
    display: none;
  }
  .container:hover .img-preview-section-container {
    display: block;
    position: relative;
    left: 50px;
  }
  